.app {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6132, #f6412e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0px;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    position: absolute;
    content: "";
    border-width: 20px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 6px;
    top: -30px;
}

.header__navbar-user-menu::after {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: -140px;
    margin-left: 0;
    content: "";
    display: block;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}


/* Hover: Hiện ra */

.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) .mobie-category__link {
    margin-left: 3px;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #f86c5b;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon {
    font-size: 1.6rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* Header QR Code */

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .3s;
}


/* Bao trùm khoảng cách giữa 2 thằng để không bị mất hover */

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: -18px;
    margin-left: -8px;
    content: "";
    display: block;
}

.header_qr-img {
    width: 100%;
}

.header__qr-link:nth-child(1) .mobie-category__link {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) .mobie-category__link {
    margin-right: 11px;
}

.header__qr-link:nth-child(3) .mobie-category__link {
    margin-left: 9px;
    margin-top: 6px;
}

.header__qr-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}

.header__qr-download-img {
    height: 16px;
}


/* Header_notification */

.header__notify {
    position: absolute;
    z-index: 1;
    width: 404px;
    border-radius: 2px;
    top: 150%;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease 0.25s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    position: absolute;
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    right: 4px;
    top: -30px;
}

.header__notify::after {
    position: absolute;
    width: 90px;
    height: 20px;
    top: -12px;
    right: -2px;
    content: "";
    display: block;
}

@keyframes headerNotifyGrowth {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    text-transform: uppercase;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f3f3f3;
}

.header__notify-link {
    display: flex;
    width: 100%;
    text-decoration: none;
    padding: 12px;
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-img {
    width: 42px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 2px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notify-description {
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 2rem;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    margin: auto;
    text-decoration: none;
    padding: 8px 64px;
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 400;
}


/* authen modal : Form đăng kí */

.auth__form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth__form-container {
    padding: 0 32px;
}

.auth__form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth__form-heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth__form-switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth__form-input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--boder-color);
    outline: none;
}

.auth__form-input:focus {
    border-color: #888;
}

.auth__form-aside {
    margin-top: 18px;
}

.auth__form-policy-text {
    padding: 0 12px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth__form-text-link {
    color: red;
    text-decoration: none;
}

.auth__form-controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth__form-control-back {
    margin-right: 8px;
}

.auth__form-socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth__form-socials-icon,
.auth__form-socials-icon-gg {
    font-size: 1.8rem;
}

.auth__form-socials-fb {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth__form-socials-fb,
.auth__form-socials-icon {
    color: var(--white-color);
}

.auth__form-socials-title {
    margin: 0 30px;
}

.auth__form-socials-gg {
    background-color: var(--white-color);
}

.facebook {
    color: var(--white-color);
}


/* Login form */

.auth__form-help {
    display: flex;
    justify-content: flex-end;
}

.auth__form-link {
    text-decoration: none;
    font-size: 1.4rem;
}

.auth__form-help-separate {
    display: block;
    height: 22px;
    margin: -4px 16px;
    border-left: 1px solid #EAEAEA;
}

.auth__form-link-forgot {
    color: var(--primary-color)
}

.auth__form-link-need {
    color: #939393;
}


/* Header__with-search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}


/* Header__with-search mobie and tablet */

.header__mobie-search {
    padding: 0 12px;
    display: none;
}

.header__mobie-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.nav__mobile-wrap {
    display: flex;
    align-items: center;
}

.nav__mobile-bars-btn {
    padding: 0 12px;
    display: none;
    cursor: pointer;
}

.nav__mobile-bars-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.nav__overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: fadeIn linear 0.2s;
}

.nav__mobile {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0);
    opacity: 1;
}

.nav__mobile-list {
    margin-top: 24px;
    list-style: none;
    padding-left: 24px;
}

.nav__mobile-link {
    text-decoration: none;
    display: block;
    padding: 12px 0;
    color: var(--text-color);
    font-size: 1.4rem;
}

.nav__mobila-link {
    border-bottom: 1px solid var(--boder-color);
}

.nav__mobila-link:last-child {
    border-bottom: 1px solid transparent;
}

.nav__mobile-close-btn {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
}

.nav__mobie-icon-lose {
    font-size: 2rem;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* PC */

.header__logo {
    width: 192px;
    justify-content: center;
    text-align: center;
    max-height: 48px;
}

.header__logo-link {
    text-decoration: none;
    display: block;
    color: transparent;
    line-height: 0;
}

.header__logo-link-img {
    width: 52px;
    height: 58px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-checkbox:checked~.header__search {
    display: flex;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-list {
    position: absolute;
    z-index: 1;
    top: calc(100% + 5px);
    width: 400px;
    border-radius: 2px;
    right: 1px;
    background-color: var(--white-color);
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in .2s;
    cursor: default;
    display: none;
}

*/
/* Cart Item */

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-lists {
    padding-left: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-lists-item {
    align-items: center;
    display: flex;
}

.header__cart-lists-item:hover {
    background-color: #f8f8f8;
}

.header__cart-item-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    overflow: hidden;
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    color: #757575;
    font-size: .9rem;
    margin: 0 4px;
}

.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin: 6px 0 0 0;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #f05d41;
}

.header__cart-list::after {
    cursor: pointer;
    position: absolute;
    content: "";
    right: 0px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list-img {
    width: 56%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list--no-cart .header__cart-list-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    top: -4px;
    right: -4px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
}

.header__cart-icon {
    margin-top: 6px;
    color: var(--white-color);
    font-size: 2.6rem;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-select {
    border-left: 1px solid #e8e8e8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px
}

.header__search-btn {
    background-color: #fb5533;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background-color: #fb6445;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option {
    position: absolute;
    z-index: 1;
    padding-top: 8px;
    right: 0;
    top: calc(100% - 5px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    border-radius: 2px;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__search-option::after {
    position: absolute;
    width: 132px;
    height: 24px;
    top: -12px;
    right: -2px;
    content: "";
    display: block;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item {
    padding: 8px 8px;
    background-color: var(--white-color);
}

.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    margin-left: 8px;
    color: var(--text-color);
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}


/* Search History */

.header__search-history {
    position: absolute;
    z-index: 1;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(189, 189, 189);
    display: none;
    overflow: hidden;
}

.header__search-input:focus~.header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 6px 12px;
    color: #999;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0px 12px;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}


/* Header__sort-bar */

.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    margin: 0 50px;
    padding-left: 0;
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
    list-style: none;
}

.header__sort-item:first-child .header__sort-link::after {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    line-height: var(--header-sort-bar-height);
    height: 100%;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    color: var(--text-color);
    position: relative;
}

.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active {
    border-bottom: 1px solid var(--primary-color);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}


/* Container */


/* Category */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 28px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0;
}

.category-list {
    padding-left: 0;
    list-style: none;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #e1e1e1;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item__link {
    position: relative;
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 6px 20px;
}

.category-item__link:hover {
    color: var(--primary-color);
}


/* Mobie category */

.mobie-category {
    display: none;
}

.mobie-category__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}

.mobie-category__list::-webkit-scrollbar {
    display: none;
}

.mobie-category__item {
    flex-shrink: 0;
    margin-right: 10px;
}

.mobie-category__item:nth-of-type(3n +1) .mobie-category__link {
    background-color: #87AFD8;
}

.mobie-category__item:nth-of-type(3n +2) .mobie-category__link {
    background-color: #79C9BD;
}

.mobie-category__item:nth-of-type(3n +3) .mobie-category__link {
    background-color: #81C57B;
}

.mobie-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    height: calc(var(--line-height) * 2);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    width: 110px;
    display: block;
    border-radius: 4px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 0 6px;
}


/* Home sort + filter */

.home-filter {
    padding: 12px 20px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    border-radius: 2px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    display: flex;
    flex: 1;
    background-color: var(--white-color);
    text-decoration: none;
}

.home-filter__page-btn:first-child {
    border-right: 2px solid #eee;
}

.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:last-child {
    background-color: #dddddd;
}

.home-filter__page-btn:last-child:hover {
    background-color: var(--white-color);
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555555;
}

.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}


/* Product-item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
    text-decoration: none;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    overflow: hidden;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    margin: 0 6px 5px 0;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.home-product-item__action-like {
    font-size: 1.2rem;
}

.home-product-item__action-like-icon-fill {
    display: none;
    color: #F53D2F;
}

.home-product-item__action-like--liked .home-product-item__action-like-icon-fill {
    display: inline-block;
}

.home-product-item__action-like--liked .home-product-item__action-like-icon-emty {
    display: none;
}

.home-product-item__action-rating {
    font-size: 1rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}

.home-product-item__action-rating-icon {
    color: #FFCE3D;
}

.home-product-item__action-rating-review {
    margin-left: 5px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin {
    text-align: right;
    padding: 5px 10px;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #595959;
}

.home-product-item__origin:hover {
    cursor: pointer;
    color: var(--text-color);
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__favorite::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.home-product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
    color: var(--white-color);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__sale {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    border-top-right-radius: 2px;
    background-color: rgba(255, 216, 57, 1);
}

.home-product-item__sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 57, 1);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-percent {
    color: #EF4D2D;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    position: relative;
    top: 2px;
}

.home-product-item__sale-label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--white-color);
}


/* Pagination */

.home-product__pagination {
    margin: 42px 0 62px 0;
    padding-left: 0;
}


/* Footer */

.footer {
    padding-top: 28px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.footer__list {
    padding: 0;
    list-style: none;
}

.footer__list-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #777;
    line-height: 3rem;
    display: flex;
    align-items: center;
}

.footer__list-item-link:hover {
    color: var(--primary-color);
}

.footer__list-item-icon {
    margin: -1px 8px 0 0;
    font-size: 1.6rem;
}

.footer__list-item {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.footer__list-item-link-active {
    margin-left: 2px;
    color: var(--primary-color);
}

.footer__list-item-link-active-none {
    text-decoration: none;
    margin-left: 2px;
    color: var(--primary-color);
}

.footer__download {
    display: flex;
    align-items: center;
}

.footer__download-qr {
    width: 80px;
    object-fit: contain;
    border: 1px solid var(--boder-color);
    margin: 8px 16px 0 0;
}

.footer__download-apps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

.footer__download-apps-img {
    height: 16px;
}

.footer__download-apps-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    background-color: #F5F5F5;
    text-align: center;
    font-size: 1.2rem;
    padding: 4px 0;
}

.footer__bottom p {
    color: #737373;
}